:root {
    --basic-distance: 16px;
    --background-color: #B4FEE7;
    --text-color: #333;
    --primary-color: #A16AE8;
    --secondary-color: #603F8B;
}

/* General */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'playfair-display-regular - latin', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    background-color: var(--background-color);
    padding: var(--basic-distance);
    box-sizing: border-box;
}

/* Header */

header,
main,
footer {
    width: 1280px;
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    flex: 1;
}

.header-element.title {
    display: flex;
    align-items: center;
    gap: var(--basic-distance);
}

.header-element.title h1 {
    color: var(--primary-color);
    margin: 0;
}

.header-element__logo img {
    width: 100px;
    height: 100px;
}

/* navbar */

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
}

nav ul li a:hover {
    color: var(--secondary-color);
}

/* Media query: tablets and larger (768px) */

@media (max-width: 768px) {
    header {
        align-items: flex-start;
        max-height: 100px;
    }

    .header-element.title {
        align-items: flex-start;
    }

    .header-element.title h1 {
        font-size: 1.5rem;
    }

    .header-element.title img {
        width: 50px;
        height: 50px;
    }

    #menu-toggle,
    .menu-icon {
        display: block;
    }

    nav ul {
        position: absolute;
        top: 80px;
        right: 0px;
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: lightcyan;
        z-index: 200;
        width: 100%;
    }

    nav ul li {
        margin-bottom: 1em;
    }
}