:root {
    --basic-distance: 16px;
    --background-color: #ffffff;
    --text-color: #333;
    --primary-color: #603F8B;
    --secondary-color: #FCD8C5;
}

/* General */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Playfair Display', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    background-color: var(--background-color);
    padding: var(--basic-distance);
    box-sizing: border-box;

}

/* Header */

header,
main,
footer {
    width: 1280px;
    max-width: 100%;
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    flex: 1;

}

.header-element {
    display: flex;
    align-items: center;
    gap: var(--basic-distance);
}

h2 {
    font-family: 'Playfair Display';
    font-size: 26px;

}

.header-element__logo img {
    width: 200px;
    height: 150px;
    margin: 0;
    display: flex;
    gap: var(--basic-distance);
}


/* navbar */

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 28px;
}

nav ul li a:hover {
    color: var(--secondary-color);
}

/* Hamburger/Cross icon styles */
.menu-icon {
    top: var(--basic-distance);
    display: none;
    position: relative;
    width: 20px;
    height: 2px;
    background: var(--primary-color);
}

.menu-icon::before,
.menu-icon::after {
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background: var(--primary-color);
    transition: all 0.3s ease;
}

.menu-icon::before {
    top: -10px;
}

.menu-icon::after {
    bottom: -10px;
}

#menu-toggle:checked~.menu-icon {
    background: transparent;
}

#menu-toggle:checked~.menu-icon::before {
    transform: rotate(45deg);
    top: 0;
}

#menu-toggle:checked~.menu-icon::after {
    transform: rotate(-45deg);
    bottom: 0;
}

#menu-toggle {
    top: var(--basic-distance);
    position: absolute;
    width: 30px;
    height: 30px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

#menu-toggle:checked~nav ul {
    display: flex;
}

/* main home */

.background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    min-height: 500px;
    margin-bottom: 50px;

}

.background-image.home {
    background-image: url(/assets/images/pic_.jpg);
}

.welcome {
    font-family: 'Playfair Display';
    line-height: 42px;
    font-size: 32px;
    color: var(--primary-color);
    text-align: center;

}

.pilates {
    font-family: 'Playfair Display';
    font-size: 20px;
    line-height: 24px;
    text-transform: lowercase;
    text-align: center;
}

.vertical {
    width: 300px;
    height: 400px;
}

.horizontal {
    width: 400px;
    height: 300px;
}

/* main about */
.beginning {
    margin-top: 50px;

}

.white {
    width: 100%;
    height: 700px;
    margin-top: 50px;
}

.white .linehight {
    text-align: justify;
}

.about {
    line-height: 32px;
    font-family: sans-serif;

}


.self_align_first {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 50px;


}


/* main history */
.machine {
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
    margin-top: 50px;
    object-fit: cover;
}



.history {
    font-family: sans-serif;
    line-height: 32px;
    text-align: justify;
    margin-bottom: 50px;


}

/* main video */
video {
    width: 300px;
    height: 200px;
    margin: 3rem;

}

.start {
    margin-top: 60px;
    margin-bottom: 0;
    font-family: 'Playfair Display';
    line-height: 42px;
    font-size: 32px;
    color: var(--primary-color);
    text-align: center;
}

/* main contact */

.figure2 {
    float: right;
}

.contact {
    color: var(--primary-color);
    text-align: center;

}

.questions {
    line-height: 50px;
    font-size: 32px;
    margin-top: 50px;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

form input {
    width: 250px;
    padding: 8px;
    box-sizing: content-box;
    border-radius: 4px;

}

form label,
form input {
    left: 24%;
    display: block;
    margin-bottom: 8px;
}

form {
    text-align: center;
}

input {
    margin: 0 auto;
    display: block;
}

/*main submit*/
.heart {
    width: 28px;
    height: 28px;
}

.submit {
    text-align: center;
    margin: 150px;
    font-family: 'Playfair Display';
    font-style: italic;
    font-size: 32px;
    line-height: 50px;
    color: var(--primary-color);
}

/*main privacypolicy*/
.privacy {
    font-family: sans-serif;
    line-height: 30px;
}

/* Footer */

footer {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 0.5px solid grey;
    border-radius: 0px;
    background-color: #E0FFFF;
    font-size: 18px;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table_footer {
    justify-content: right;
}

#company {
    color: var(--primary-color);
}

.social {
    height: 20px;
}

.self_align_right {
    align-content: space-between;

}

a:hover {
    color: var(--secondary-color);
}

.responsive-table {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: var(--basic-distance);

}

.responsive-table li {
    width: 256px;

}

/* Media query: tablets and larger (768px) */

@media (max-width: 768px) {
    header {
        align-items: flex-start;
        max-height: 100px;
    }

    .header-element.title {
        align-items: flex-start;
    }

    .header-element.title h1 h2 {
        font-size: 1.5rem;
    }

    .header-element.title img {
        width: 50px;
        height: 50px;
    }

    #menu-toggle,
    .menu-icon {
        display: block;
    }

    nav ul {
        position: absolute;
        top: 80px;
        right: 0px;
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #E0FFFF;
        z-index: 200;
        width: 100%;
    }

    nav ul li {
        margin-bottom: 1em;
    }

    #photos {
        column-count: 2;
    }

    .submit {
        max-width: 410px;
    }

}

@media screen and (max-width: 320px) {
    body {
        font-size: 14px;

    }

    .horizontal img {
        object-fit: cover;

    }

    header {
        padding: 0px;

    }

    .responsive-table li {
        width: 100%;

    }


}